.custom-btn {
    background-color: var(--primaria);
    border-color: var(--texto);
    color: var(--texto);
}

.custom-btn:hover {
    opacity: 0.95;
    background-color: var(--primaria);
    border-color: var(--texto);
    color: var(--texto);
}

.custom-pagination .active .page-link {
    background-color: var(--primaria);
    color: var(--texto);
    border-color: var(--primaria);
}

.custom-pagination .page-link {
    color: var(--texto);
}

.custom-pagination .page-link:hover {
    color: var(--aux-2);
    cursor: pointer;
}