
.page-detalhamento-pesticida {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;
}

.card {    
    max-width: 641px;
    padding: 25px 55px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
}

.page-detalhamento-pesticida__card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}   

.page-detalhamento-pesticida__titulo{
    color: #000;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.info-item {
    line-height: 1.0;
}

.label {
    font-weight: bold;
    color: #555;
}

.value {
    color: #333;
}

.page-detalhamento-pesticida__btn{
    align-self:baseline;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    padding: 8px 0;
    font-weight: bold;

    display: flex;
    width: 134px;
    padding: 11px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #000;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}