*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    min-height: 100vh;
}

.paginaCadastroProduto{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro{
    display: flex;
    padding: 43px 57px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    width: 100%;
    max-width: 709px;

    height: min-content;
    min-height: 476px;

    border-radius: 24px;
    border: 1px solid #BDBDBD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);
}

.datas{
    display: flex;
    width: 100%;
    gap: 10px;
}

.label-e-campo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.label{
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.campo{
    display: inline-flex;
    padding: 10px 17px;
    align-items: center;
    gap: 10px;
    
    width: 100%;

    border-radius: 8px;
    border: 1px solid #AAA;
}

.campo::placeholder{
    color: #AAA;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.campoAdicionarPesticida{
    width: 100%;
    display: flex;
}

.campoAdicionarPesticida .campo{
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #AAA;
}

.button-adicionar-pesticida{
    height: auto;
    width: 36px;
    padding: 4px 11px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 0px 8px 8px 0px;
    border-top: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    border-left: 0px;

    color: #000;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaoAdicionarPorduto{
    display: flex;
    padding: 11px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 24px;
    border: 1px solid #000;
    background: #48FF7F;

    font-weight: 700;
}