.pageContent {
    padding-top: 24px;
}

.pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageHeader h2 {
    max-width: 50%;
}

td, th {
    vertical-align: middle;
}

.filters {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filterBox {
    max-width: 30%;
}

/* Testando Git */